:root {
  --branco: #ffffff;
  --azul-claro: #0093FB;
  --azul-claro2: #336997;
  --azul-medio: #0050FF;
  --azul-escuro: #213257;
  --azul-petroleo: #001544;
  --cinza-claro: #ebebeb;
  --cinza-claro2: #434343;
  --cinza-escuro: #363636;
  --preto: #111B21;
  --verde: #00FF5F;
}
